@import "tailwindcss";

:root {
  --background: #eef3f3;
  --foreground: #3f4144;
  --textcolor: #090b0b;
}

html.dark {
  --background: #121315;
  --foreground: #e0eeee;
  --textcolor: #b3e9e7;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

a,
button {
  cursor: pointer;
}

/* Smooth scrolling (Lenis) */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

/* Link styles */
.external-link {
  text-decoration: none;
  color: var(--textcolor);
  border: 1px solid var(--textcolor);
  border-radius: 30%;
  margin: 2rem;
  padding: 0.5rem 1.5rem;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}


@theme {
  --animate-marquee-left: marquee-left 18s linear infinite;
  --animate-marquee-right: marquee-right 18s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Add any other global styles below */
